# Standard
desktop.ini
*~
*.sw?
.DS_Store
target


# IDEA
*.iml
*.ipr
*.iws
.idea

# Python
*.pyc
*.pyo

# Excel temporary files
~$*.xlsx

# Database scripts built files
Database/create_db.sql

# Pid files
*.pid

# Front-end
node_modules
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
