<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Electionsbih</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
        <div class="header">
        <h1>Election thingy</h1>
        </div>
        <div id="toggle-language">
        </div>
        <div id="toggle-election">
        </div>
        <div class="border" id="toggle-year">
        </div>
        <div class="row border">
        <div class="col-sm-2" id="party-select">
        </div>
        <div class="col-sm-8 map" id="map">
        </div>
        <div class="col-sm-2" id="results-display">
        </div>
        </div>

        </div>

        <script type="text/template" id="language-template">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="selected"><%= selected %></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <% _.each(options, function(option) { %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="<%= option.val %>"><%= option.display %></a></li>
                <% }); %>
            </ul>
        </div>
        </script>

        <script type="text/template" id="election-type-template">
        <ul class="nav nav-tabs">
            <% _.each(navs, function(nav) { %>
            <% var title = translate(nav); %>
            <% var c = '' %>
            <% if ( state['type'] == nav ) { c += ' active'} %>
            <li class="<%= c %>"><a href="<%= '/#' + state['lang'] + '/' +
            state['year'] + '/' + nav %>" ><%= title %></a></li>
            <% }); %>
        </ul>
        </script>

        <script type="text/template" id="election-year-template">
        <ul class="nav nav-pills">
            <% _.each(navs, function(nav) { %>
            <% var title = nav['val']; %>
            <% var c = '' %>
            <% if ( state['year'] == nav['val'] ) { c = 'active'} %>
                <li class="<%= c %>" >
                    <a href="<%= '/#' + state['lang'] + '/' + nav['val'] + '/'
                    + state['type'] %>" >
                        <%= title %></a>
                </li>
            <% }); %>
        </ul>
        </script>

        <script type="text/template" id="results-template">
            <h1><%= translate("Results") %></h1>
            <h2><%= translate("total seats") %></h2>
            <h2><%= translate("seats by party") %></h2>
            <h2><%= translate("votes (%)") %></h2>
            <a class="btn btn-primary" target="_new"
            href="https://github.com/Zastone/electionsBiH/tree/master/Cleaned%20Data">
                <%= translate("Download Data") %></a>
        </script>

        <script type="text/template" id="party-select-template">
            <h1><%= translate("Parties") %></h1>
            <ul class="party-select">
                <% _.each(parties, function(party) { %>
                    <a><li class="active">
                    <span class="indicator"></span>
                    <%= party.abbreviation %></li></a>
                <%    }) %>
            </ul>
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/jed/jed.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbuild -->

        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/translation.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/templates.js"></script>
        <script src="scripts/collections/results.js"></script>
        <script src="scripts/models/results.js"></script>
        <script src="scripts/models/mandates.js"></script>
        <script src="scripts/collections/mandates.js"></script>
        <script src="scripts/routes/bosnia-election.js"></script>
        <script src="scripts/views/map.js"></script>
        <script src="scripts/views/party-select.js"></script>
        <script src="scripts/views/results-display.js"></script>
        <script src="scripts/views/election-select.js"></script>
        <script src="scripts/views/year-select.js"></script>
        <script src="scripts/views/map-markers.js"></script>
        <script src="scripts/views/language-select.js"></script>
        <!-- endbuild -->
</body>
</html>
