#%RAML 0.8
---
title: BiH elections API
baseUri: http://api.tbd.zastone.ba/{version}
#baseUri: http://mocksvc.mulesoft.com/mocks/647e2ac6-97f6-443d-bda5-60666be09b9f/mocks/924e741e-61f8-4853-a472-1eec01048a33/{version}
version: v1

resourceTypes:
  - results:
      uriParameters:
        election_type:
          description: "Election type"
          enum:
            - kanton
            - parliament_bih
            - parliament_fbih
            - parliament_rs
            - president_bih
            - president_rs
        year:
          description: "Valid election type"
          type: integer

/municipalities:
  get:
    description: Retrieves (optionally filtered) municipality meta-data
    responses:
      200:
        body:
          application/json:
            example: |
              "municipalities":
              [
                {
                  "id": 1,
                  "name": "Velika Kladusa",
                  "kanton": 201,
                  "parliament_bih": 341,
                  "parliament_fbih": 451,
                  "parliament_rs": 123,
                  "president_bih": 234,
                  "president_rs": 345
                }
              ]
/results/{election_type}/{year}:
  type: results
  get:
    queryParameters:
      # None
    responses:
      200:
        description: "Election results for given election type and year"
        body:
          application/json:
            example: |
              {
              "request": {
                "election_type": "parliament_bih",
                "year": 2010
              },
              "municipality_results": [
                {
                  "name": "Velika Kladusa",
                  "id": 1,
                  "electoral_units": [
                    {
                      "id": "511",
                      "results": [
                        {
                          "name": "Party #1",
                          "abbreviation": "p1",
                          "votes": 5
                        },
                        {
                          "name": "Party #2",
                          "abbreviation": "p2",
                          "votes": 2
                        }
                      ]
                    }
                  ]
                }
              ]
              }
      404:
        description: "Missing election data"
/mandates/{election_type}/{year}:
  type: results
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              "request": {
                "election_type": "parl_bih",
                "year": 2010
              },
              "results_per_electoral_unit": [
                {
                  "electoral_unit_name": "Foo", /* Optional */
                  "electoral_unit_id": "511",
                  "mandates": [
                    {
                      "name": "Bar",
                      "seats": 8
                    },
                    { 
                      "name": "Tie between: Foo & Bar",
                      "seats": 1
                    }
                  ]
                },
                {
                  "electoral_unit_name": "Compensatory",
                  "electoral_unit_id": "599",
                  "mandates": [
                    {
                      "party_name": "Bar",
                      "seats": 10
                    }
                  ]
                }
              ]
